<template>
    <div class="top-nav">
        <div class="container-fluid">
            <div class="navbar-header navbar-brand">
                <router-link to="/" :exact="true">
                </router-link>
            </div>
            <div class="row">
                <div class="col-lg-10 titles">
                    <div class="main-title">L'instant en commun</div>
                    <div>De petites graines font germer de grandes idées.</div>
                </div>
                <!--<img class="beans" src="content\beans-mini.png" alt="Logo"></img>-->
                <div id="user-icon" class="col-lg-1">
                    <router-link to="/user">
                        <span class="glyphicon glyphicon-user"></span>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<style src="./topbar.css" />