<template>
    <div class="top-nav">
            <div class="container-fluid">
                    <div class="navbar-header navbar-brand">
                            <router-link to="/" :exact="true">
                                <img src=".\images\logo-vert-1.png" alt="Logo"></img>
                            </router-link>
                        </div>
                        <div class="row"> 
                                <div class="col-lg-11">    
                                <div class="title">L'instant en commun</div>
                                <div>Des petites graines peuvent faire germer de grandes idées.</div>   
                                </div>                             
                                <div id="user-icon" class="col-lg-1">
                                        <router-link to="/user">
                                            <span class="glyphicon glyphicon-user"></span>
                                        </router-link>
                                    </div>                                
                        </div>
                  </div>
    </div>
</template>

<style src="./topbar.css" />
