.top-nav li .glyphicon {
    margin-right: 10px;
}

/* Keep the nav menu independent of scrolling and on top of other items */

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .top-nav {
        width: 100%;
        height: 100px;
        background:  #8A6552;
        box-shadow: 0px 1px 10px #555;
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
    }

    .top-nav .container-fluid{
        flex: 1;
    }

    .top-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        width: 100px;
    }
    .top-nav .row {
        color: #fff;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        margin-left: 85px;
        height: 100px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
    }
    .top-nav .row .main-title {
        color: #fff;
        font-size: 35px;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: bold;
    }
    .top-nav #user-icon {
        font-size: 35px;
        color: #fff;
    }
    .top-nav #user-icon a {
        color: #ffffff;
        transition: all 0.2s;
    }
    .top-nav #user-icon a:hover {
        color: #eee;
    }

    .top-nav .beans{
        position : absolute;
        z-index : 4;
        top: 5px;
        left: 650px;
        height: 80px;
    }

    .top-nav .titles{
        margin-left: 20px;
    }
}