.top-nav li .glyphicon {
    margin-right: 10px;
}

/* Keep the nav menu independent of scrolling and on top of other items */

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .top-nav {
        width: 100%;
        height: 90px;
        background: linear-gradient(to right, #8A6552, #FFE0B5);
        box-shadow: 0px 1px 10px #555;
    }
    .top-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        width: 100px;
    }
    .top-nav .row {
        color: white;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        padding-left: 140px;
    }
    .top-nav .row .title {
        color: white;
        font-size: 35px;
        font-family: 'Montserrat Bold', sans-serif;
        font-weight: bold;
    }
    .top-nav .navbar-brand img {
        height: 90px;
        margin-left: -25px;
        margin-top: -15px;
    }
    .top-nav #user-icon {
        font-size: 35px;
        margin-top: 20px;
        color: white;
    }
    .top-nav #user-icon a {
        color: #9d9d9d;
    }
    .top-nav #user-icon a:hover {
        color: white;
    }
}