<template>
    <div class="about">
        <div class="about-container">
            <h1><span class="glyphicon glyphicon-info-sign"></span>  A propos de nous</h1>
            <br />
            <p><b>L'instant en commun</b> est une initiative citoyenne élaborée par le <a href="http://discord-insoumis.fr/">Discord Insoumis</a>.</p>

            <p>Le <a href="http://discord-insoumis.fr/">Discord Insoumis</a> est une communauté en ligne de militant•e•s soutenant le mouvement <b>La France Insoumise</b> et son programme <a href="https://laec.fr">l'Avenir en Commun.</a></p>

            <p>
                Ce site a vocation à être partisan et au service de nos engagements politiques.
                La démarche se veut néanmoins objective et nous souhaitons avant tout que chacun•e puisse obtenir des informations concrètes et facilement disponibles sur plusieurs  thématiques prédéfinies :
            </p>
            <div class="col-lg-12">
                <ul class="theme">
                    <li class="red">Urgence Sociale</li>
                    <li class="orange">Progrès Humain</li>
                    <li class="yellow">Urgence Démocratique</li>
                    <li class="green">Urgence Ecologique</li>
                    <li class="blue">Union Européenne</li>
                    <li class="violet">Paix & International</li>
                </ul>
            </div>
            <p>
                L'objectif de <b>l'instant en commun</b> est d'interpeller les lecteurs et leur faire découvrir des informations ou problématiques via les réseaux sociaux grâce à des visuels clairs, explicatifs, factuels et non-polémiques constitués de quelques phrases pour les sensibiliser à notre programme, nos idées et à notre mouvement . Ceux-ci peuvent reprendre des constats à l'aide de sources ou bien rebondir sur l’actualité.
            </p>
            <p>Pour le moment, seul le module consacré aux recherches de visuels est disponible. D'autres évolutions du site seront mis en ligne dans les mois à venir.</p>

            <p>Notre travail est bénévole, les coûts d'hébergement et d'infrastructure sont couverts par des dons.</p>

            <p>
                Si vous trouvez une erreur, un bug ou si vous souhaitez nous faire parvenir une remarque, envoyez-nous un e-mail à l'adresse suivante ou sur les réseaux sociaux (ci-dessous) :
                <br /><a href="contact@liec.fr">contact@liec.fr</a>
            </p>

            <p>Et si vous souhaitez suivre notre progression suivez-nous sur :</p>
            <ul>
                <li><strong>Twitter</strong> : <a href="https://twitter.com/InstantEnCommun/">https://twitter.com/InstantEnCommun/</a></li>
                <li><strong>Facebook</strong> : <a href="https://fr-fr.facebook.com/Linstantencommun/">https://fr-fr.facebook.com/Linstantencommun/</a></li>
                <li><strong>Instagram</strong> : <a href="https://www.instagram.com/instantencommun/">https://www.instagram.com/instantencommun/</a></li>
            </ul>
            <img src="content/beans-mini.png" alt="Beans!" />
        </div>
    </div>
</template>
<style src="./about.css" />