* {
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
  }
  
  /*
     green 6bb592
     orange fa9a46
     bleu 6faaed
     jaune ffe347
     red f26257
     violet bf80cf
  
    */
  
  body{
    background-image: url("../../../wwwroot/content/leaves-pattern.png");
    background-repeat: repeat;
  }  
  
  .about {
    background: #f00;
  }