<template>
    <div class="about">
        <div class="about-container">
                <h1>A propos de nous</h1>
                <p>
                L'instant en commun est une initiative citoyenne élaborée par le Discord Insoumis.

                Le Discord Insoumis est une communauté en ligne de militant•e•s soutenant le mouvement La France Insoumise et son programme l'Avenir en Commun. En accord avec nos principes de démocratie ouverte et de participation citoyenne, ce site n'a pas vocation à être partisan ou au service de nos engagements politiques. Les données sont récoltées automatiquement sur le site de l'Assemblée nationale via leur service d'Open Data ou via les comptes rendus de séance. La démarche se veut objective et nous souhaitons avant tout que chacun•e puisse obtenir des informations concrètes et facilement disponibles sur l'activité des parlementaires à l'Assemblée nationale. Pour le moment, seul le module consacré à l'Assemblée nationale est disponible. D'autres éclairages de la vie démocratique seront mis en ligne dans les mois à venir.
                
                Notre travail est bénévole, les coûts d'hébergement et d'infrastructure sont couverts par des dons.
                
                
                Si vous trouvez une erreur, un bug ou si vous souhaitez nous faire parvenir une remarque, envoyez-nous un e-mail à l'adresse suivante : contact@observatoire-democratie.fr
                
                Et si vous souhaitez suivre notre progression suivez-nous sur :
                </p>
                <ul>
                    <li><strong>Twitter</strong>. https://twitter.com/InstantEnCommun/</li>
                    <li><strong>Facebook</strong>. https://fr-fr.facebook.com/Linstantencommun/</li>
                    <li><strong>Instagram</strong>. https://www.instagram.com/instantencommun/</li>
                </ul>
            </div>
    </div>
</template>
<style src="./about.css" />