/*
Color Used :

Beige : #FFE0B5

*/

/* Keep the nav menu independent of scrolling and on top of other items */

.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
}

.main-nav h1 {
    color: rgba(255, 224, 181, 1);
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}

.main-nav .side-panel-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

/* Utilities Buttons*/

.utilities-menu li:hover, .main-nav .navbar-nav div li.active {
    background: #705242;
}

/*Social Buttons*/

.social-network li:hover:first-of-type {
    background: #6FAAED;
}

.social-network li:hover:first-of-type::after {
    background: #6FAAED;
}

.social-network li:hover:nth-of-type(2) {
    background: #D9483B;
}

.social-network li:hover:nth-of-type(2)::after {
    background: #D9483B;
}

.social-network li:hover:nth-of-type(3) {
    background: #4575B5;
}

.social-network li:hover:nth-of-type(3)::after {
    background: #4575B5;
}

.social-network li:hover:nth-of-type(4) {
    background: #705242;
}

.social-network li:hover:nth-of-type(4)::after {
    background: #705242;
}

.social-network li:hover:nth-of-type(5) {
    background: orange;
}

.social-network li:hover:nth-of-type(5)::after {
    background: orange;
}

.main-nav .navbar-nav .social-network li.active:nth-of-type(5) {
    background: orange;
}

.main-nav .navbar-nav .social-network li.active:nth-of-type(5)::after {
    background: orange;
}

@media (min-width: 279px) and (max-width: 768px) {
    /* Utilities Buttons*/
    .utilities-menu li:hover, .main-nav .navbar-nav div li.active {
        background: #705242;
    }
    .social-network li:hover:nth-of-type(4) {
        background: #705242;
    }
    /* Logo */
    .main-nav .navbar-brand {
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 5px;
        margin-left: 9px;
        margin-right: 0px;
    }
    .main-nav .navbar-brand img {
        height: 45px;
        width: auto;
    }
    .main-nav .navbar-nav div li {
        /* Menu Item Property */
        height: 30px;
        width: 100%;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
        margin: 5 px;
    }
    .main-nav .navbar-nav div li a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        text-decoration: none;
    }
    .main-nav .navbar-nav img {
        height: 20px;
        width: 20px;
    }
    .main-nav .navbar {
        height: 100%;
    }
    .main-nav .small_label {
        padding-left: 15px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: 100px;
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        z-index: 4;
    }
    .main-nav .small_label {
        display: none;
    }
    .main-nav .navbar-inverse {
        background-color: #636363;
    }
    /* Logo */
    .main-nav .navbar-brand {
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-nav .navbar-brand img {
        height: 70px;
        width: auto;
    }
    .main-nav .navbar-collapse {
        padding: 0px;
    }
    .main-nav .navbar-nav {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        height: calc(100vh - 100px);
    }
    .main-nav .navbar-nav div li {
        /* Menu Item Property */
        height: 100px;
        width: 100px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
    }
    .main-nav .navbar-nav div li a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        margin-left: 20px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
    }
    .main-nav .navbar-nav div li a img {
        width: 30px;
        height: 30px;
    }
    /* Buttons Specification */
    .main-nav .navbar-nav li::after, .main-nav .navbar-nav li.active::after {
        content: '';
        display: block;
        height: 100px;
        width: 40px;
        background: #705242;
        position: relative;
        top: 0;
        right: -13px;
        border-radius: 50%;
        opacity: 0;
        transition: all 0.3s;
    }
    .main-nav .navbar-nav li:hover::after, .main-nav .navbar-nav div li.active::after {
        opacity: 1;
        transition: all 0.2s;
        z-index: 1000;
    }
    .main-nav .navbar-nav div li:hover, .main-nav .navbar-nav div li:focus, .main-nav .navbar-nav div li:active {
        cursor: pointer;
        transition: all 0.3s;
    }
}