/*
Color Used :

Beige : #FFE0B5

*/



/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%; 
        width: 100px;
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;

    }


    .main-nav .navbar-inverse{        
        background-color: #636363;
    }

    /* Logo */
    .main-nav .navbar-brand{
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-nav  .navbar-brand img {
        height: 70px;
    }

    .main-nav .navbar-collapse {
        padding: 0px;
    }

    .main-nav .navbar-nav {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        height: calc(100vh - 100px);
    }
    .main-nav .navbar-nav div li{
        /* Menu Item Property */
        height: 100px;
        width: 100px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.2s;
 
    }
    .main-nav .navbar-nav div li a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        margin-left: 20px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    .main-nav .navbar-nav div li a img{
        width: 30px;
    }


    /* Buttons Specification */
    .main-nav .navbar-nav li::after, .main-nav .navbar-nav li.active::after {
        content: '';
        display: block;
        height: 100px;
        width: 40px;
        background: #FFE0B5;
        position: relative;
        top: 0;
        right: -13px;
        border-radius: 50%;
        opacity: 0;
        transition: all 0.3s;

    }

    .main-nav .navbar-nav li:hover::after, .main-nav .navbar-nav div li.active::after{
        opacity: 1;
        transition: all 0.2s;
        z-index: 1000;
    }

    .main-nav .navbar-nav div li:hover, .main-nav .navbar-nav div li:focus, .main-nav .navbar-nav div li:active {
        cursor: pointer;
        transition: all 0.3s;
    } 

    /* Utilities Buttons*/
    .utilities-menu li:hover, .main-nav .navbar-nav div li.active {
        background: #FFE0B5;
    }



    /*Social Buttons*/

    .social-network li:hover:first-of-type{
        background: #6FAAED;
    }

    .social-network li:hover:first-of-type::after{
        background: #6FAAED;
    }


    .social-network li:hover:nth-of-type(2){
        background: #D9483B;
    }
    .social-network li:hover:nth-of-type(2)::after{
        background: #D9483B;
    }

    .social-network li:hover:nth-of-type(3){
        background: #4575B5;
    }
    .social-network li:hover:nth-of-type(3)::after{
        background: #4575B5;
    }

    .social-network li:hover:nth-of-type(4){
        background: #FFE0B5;
    }
    .social-network li:hover:nth-of-type(4)::after{
        background: #FFE0B5;
    }

    .social-network li:hover:nth-of-type(5){
        background: orange;
    }
    .social-network li:hover:nth-of-type(5)::after{
        background: orange;
    }
    .main-nav .navbar-nav .social-network li.active:nth-of-type(5) {
        background: orange;
    }
    .main-nav .navbar-nav .social-network li.active:nth-of-type(5)::after{
        background: orange;
    }
}
