<template>
<div class="home">
        <div class="cover-index">
                <img src ="https://pbs.twimg.com/media/DdQaOTfWsAIv3yK.png" />
                <div title="Le Bonus Cultura, un modèle ?">
                    <span class="name">
                        <span style="vertical-align: middle;  display: table-cell;">
                            <p>
                            Le pass culture, co-financé par les #GAFAM, est-il une bonne solution pour promouvoir la culture chez les jeunes ?
                            </p>                            

                            Sources<br/>
                            <a class="link" href="https://goo.gl/WdWDqW">Arrêt sur images</a><br/>
                            <a class="link" href="https://goo.gl/jYU2J8">RTL</a> <br/><br/>
                            Tags<br/>
                            <div class ="tag">
                            Culture
                            </div>
                            <div class ="tag">
                            Jeune
                            </div>
                            <div class ="tag">
                            GAFAM
                            </div>
                            <div class ="tag">
                            Italie
                            </div>
                            <div class ="tag">
                            Enseignement
                            </div>
                            <br/><br/>

                          
<a href="https://twitter.com/InstantEnCommun"><img src="https://image.flaticon.com/icons/svg/54/54879.svg"/></a>  
                          <a href="https://www.facebook.com/Linstantencommun/?ref=br_rs"><img src="https://image.flaticon.com/icons/svg/54/54422.svg"/></a>  
                          <a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThWvTlZfWps9VujEWhDQp4T5x6lathdOW2a-ol5SQGiybo7B0Y"/></a>  
<a href="#" onclick="openModal()">
<img src="https://i.stack.imgur.com/To3El.png"/></a>
                        </span>
                    </span>
                    </div>
</div>

<div id="modalwindow">
  <i id="modalcross" class="fa fa-3x fa-times" onclick="closeModal()"></i>
  <div class="modal-container">
      <div class="liec-modal"><img src ="https://pbs.twimg.com/media/DdQaOTfWsAIv3yK.png" /></div>
      <div class="liec-infos">
        <h2>Le Bonus Cultura, un modèle ?</h2>
        <p>Courte description parlant du Liec sur ma gauche</p>
        <p>Boutons FB Twitter et Instagram</p>
        <p>Tags</p>
    </div>
  </div>
</div>
</div>
</template>

<!-- <script>
        function openModal(e){
      var modal = document.getElementById("modalwindow");
      modal.style.display = "block";
    }
    function closeModal(){
        var modal = document.getElementById("modalwindow");
      modal.style.display = "none";
    }
    </script> -->

<style src="./home.css" />
