* {
  box-sizing: border-box;
}

/*
   green 6bb592
   orange fa9a46
   bleu 6faaed
   jaune ffe347
   red f26257
   violet bf80cf

  */

body{
  background-image: url("../../../wwwroot/content/leaves-pattern.png");
  background-repeat: repeat;
}  

.home {
  padding: 0px;
  margin-top: 100px;

}

.home .liec-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.home .cover-index {
  width: 300px;
  height: 300px;
  background-color: #000;
  margin: 30px;

  transition: .3s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.home .cover-index:hover {
  box-shadow: 0 0 10px rgba(254, 99, 96, 0.3);
  transition: .9s;
}

.home .cover-index img {
  height: 300px;
  width: 300px;
  position: absolute;
  z-index: 2;
}

.home .cover-index:hover .tail {
  position: relative;
  background-color: rgba(0, 0, 0, .8);
  display: table;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  z-index: 3;
}

.home .cover-index:hover .sources{
  display: inline;
}

.home .cover-index:hover .shortcuts a {
  color: inherit !important;
  text-decoration: none;
}

.home .cover-index:hover .shortcuts a:hover {
  color: white !important;
}

.home .cover-index:hover .shortcuts span {
  color: inherit !important;
  display: inline;
  font-size: 25px;
  margin-left : 10px;
}

.home .tag {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #363f41;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #363f41;
  border-radius: 10px;
  cursor : pointer;
  margin-left : 5px;
}

.home .tag:hover {
  color : white;
}

.home .scrollToTop{
  background-color: #8A6552;
  color: #FFE0B5;
  position: fixed;
  width: 50px;
  height: 50px;
  top : 90%;
  left : 95%;
  z-index: 10;
  font-size: 24px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.home .scrollToTop::before{
  content:'';
  height:15px;
  width: 100%;
  position: absolute;
  background-color: #8A6552;
  top: -6px;
  left: 0;
  border-radius: 50%;
  transition: all 0.2s;
}

.home .scrollToTop > span{
  padding-right: 2px;
  padding-bottom: 7px;
  text-align: left;
}

.home .scrollToTop:hover{
  cursor: pointer;
  text-decoration: none;
  background-color: #FFE0B5;
  color: #8a6552; 
}

.home .scrollToTop:hover::before{
  background-color: #FFE0B5;
}

.home .side-panel-background {
  width: 100%;
  height: 100%;
  z-index: 3;
  position: fixed;
  top: 0;
  left:0;
  background-color: rgba(0, 0, 0, .8);
  display : none;
}

.main-container{
  width: calc(100% - 100px);
  margin-left: 100px;
  padding: 20px;
}

@media (min-width: 279px) and (max-width: 768px){
  .main-container{
    width: 100%;
    padding: 0px;
    margin-left : 0px;
  }

  .scrollToTop{
    display : none !important; 
  }

  .home {
    padding: 0px;
    margin-top: 0px;  
  }
 
  .home .liec-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin-top: 20px;
  }
  
  .home .cover-index {
    width: 300px;
    height: 300px;
    background-color: #000;
  
    transition: .3s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    margin : 10px;
    }
}
