* {
  box-sizing: border-box;
  font-family: 'Tajawal', sans-serif;
}

/*
   green 6bb592
   orange fa9a46
   bleu 6faaed
   jaune ffe347
   red f26257
   violet bf80cf

  */

.home {
  padding: 0px;
  margin-top: 100px;
}

.home .liec-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

.home .cover-index {
  width: 300px;
  height: 300px;
  position: relative;
  background-color: #000;
  overflow: hidden;
  float: left;
  margin: 3px;
  border: 1px #ccc solid;
  transition: .3s;
  box-shadow: 0 0 10px #eee;
}

.home .cover-index:hover {
  box-shadow: 0 0 10px rgba(254, 99, 96, 0.3);
  transition: .9s;
}

.home .cover-index img {
  height: 300px;
  width: 300px;
  position: absolute;
  z-index: 2;
}

.home .cover-index:hover .tail {
  position: relative;
  background-color: rgba(0, 0, 0, .8);
  display: table;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  z-index: 3;
}

.home .cover-index:hover .sources{
  display: inline;
}

.home .cover-index:hover .shortcuts a {
  color: inherit !important;
  text-decoration: none;
}

.home .cover-index:hover .shortcuts a:hover {
  color: white !important;
}

.home .cover-index:hover .shortcuts span {
  color: inherit !important;
  display: inline;
  font-size: 25px;
  margin-left : 10px;
}

.home .tag {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #363f41;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #363f41;
  border-radius: 10px;
  cursor : pointer;
  margin-left : 5px;
}

.home .tag:hover {
  color : white;
}

.home .scrollToTop{
  border-radius: 50%;
  background-color: #8A6552;
  color: #FFE0B5;
  position: fixed;
  border : 1px solid #636363;
  width: 50px;
  height: 50px;
  top : 90%;
  left : 95%;
  z-index: 1999;
  font-size: 30px;
  padding-left : 6.5px;
  padding-top : 6px;
}

.home .scrollToTop:hover{
  cursor: pointer;
}

.home .side-panel-background {
  width: 100%;
  height: 100%;
  z-index: 3;
  position: fixed;
  top: 0;
  left:0;
  background-color: rgba(0, 0, 0, .8);
  display : none;
}