<template>
    <div class="home">
        <a class="scrollToTop" v-on:click="scrollToTop()">
            <span class="glyphicon glyphicon-arrow-up"></span>
        </a>
        <div class="liec-container">
            <div class="loader">Chargement des graines de l'info...</div>
            <div v-for="info in infos" class="cover-index">
                <img v-bind:src="info.image" v-bind:alt="info.title" />
                <div class="back-cover" v-bind:title="info.title">
                    <div style="vertical-align: middle;  display: table-cell;">
                        <p>
                            {{ info.context }}
                        </p>
                        <div class="sources" v-for="item in info.sources">
                            <a class="link" v-bind:href="item" v-bind:style="{ color: info.darkTheme}">{{sourceShortener(item)}} </a> &nbsp;
                        </div>
                        <br/>
                        <br/>
                        <div v-for="item in info.tags" class="tag" v-bind:style="{ 'background-color': info.darkTheme}">
                            {{ item }}
                        </div>
                        <br/>
                        <br/>
                        <p>{{ info.creationDate }}</p>
                        <br/>

                        <div class="shortcuts" v-bind:style="{ color: info.darkTheme}">
                            <a href="#" v-on:click.prevent.stop="openModal(info)">
                                <span class="glyphicon glyphicon glyphicon-new-window"></span>
                            </a>
                            <router-link v-bind:to="info.url">
                                <span class="">lien</span>
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <modal-component />
    </div>
</template>
<script src="./home.ts"></script>
<style src="./home.css" />