<template>
    <div class="draft">
        <h1><span class="glyphicon glyphicon-pencil"></span> Participer à l'instant en commun !</h1>
        <form class="container" enctype="multipart/form-data" novalidate>
            <div class="header">Ajouter une image</div>
            <div class="dropbox">
                <input type="file" :name="uploadFieldName" :disabled="isSaving()" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
                    accept="image/*" class="input-file">
                <p v-if="isInitial()">
                    Glissez et déposez votre fichier <br> ou cliquez pour parcourir.
                </p>
                <p v-if="isSaving()">
                    Téléchargement de {{ fileCount }} fichier...
                </p>
                <div v-if="isSuccess()">
                    <a href="javascript:void(0)" @click="reset()">Supprimer <span class="glyphicon glyphicon glyphicon-remove"></span></a>
                    <center class="">
                        <img :src="uploadedFile.url" class="img-responsive img-thumbnail" :alt="uploadedFile.name">
                    </center>
                </div>
                <div v-if="isFailed()">
                    <h2>Le téléchargement a failli.</h2>
                    <p>
                        <a href="javascript:void(0)" @click="reset()">Réessayer</a>
                    </p>
                    <pre>{{ uploadError }}</pre>
                </div>
            </div>
        </form>
        <br/>
        <form class="container" v-on:submit.prevent="handleSubmit" method="post">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <div class="header">Thème</div>
                    <center>
                        <input id="draft_red" name="theme" type="radio" value="red" v-model="info.theme" />
                        <label for="draft_red" class="theme red" v-bind:style="{ backgroundImage: 'url(' + imageRed + ')' }">
                            <div>Urgence
                                <br/> Sociale
                            </div>
                            <span class="glyphicon glyphicon-ok red"></span>
                        </label>
                        <input id="draft_orange" name="theme" type="radio" value="orange" v-model="info.theme" />
                        <label for="draft_orange" class="theme orange">
                            <div>Progrès
                                <br/> Humain
                            </div>
                            <span class="glyphicon glyphicon-ok orange"></span>
                        </label>
                        <input id="draft_yellow" name="theme" type="radio" value="yellow" v-model="info.theme" />
                        <label for="draft_yellow" class="theme yellow">
                            <div>Urgence
                                <br/> Démocratique
                            </div>
                            <span class="glyphicon glyphicon-ok yellow"></span>
                        </label>
                        <input id="draft_green" name="theme" type="radio" value="green" v-model="info.theme" />
                        <label for="draft_green" class="theme green">
                            <div>Urgence
                                <br/> Ecologique
                            </div>
                            <span class="glyphicon glyphicon-ok green"></span>
                        </label>
                        <input id="draft_blue" name="theme" type="radio" value="blue" v-model="info.theme" />
                        <label for="draft_blue" class="theme blue">
                            <div>Union
                                <br/> Européenne
                            </div>
                            <span class="glyphicon glyphicon-ok blue"></span>
                        </label>
                        <input id="draft_violet" name="theme" type="radio" value="violet" v-model="info.theme" />
                        <label for="draft_violet" class="theme violet">
                            <div>Paix &
                                <br/> International
                            </div>
                            <span class="glyphicon glyphicon-ok violet"></span>
                        </label></center>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="col-lg-4">
                    <div class="header">Title</div>
                    <input class="col-lg-12" type="text" v-model="info.title" />
                </div>

                <div class="col-lg-4">
                    <div class="header">Créateur</div>
                    <input class="col-lg-12" type="text" v-model="info.creator" />
                </div>

                <div class="col-lg-4">
                    <div class="header">Date de mise en ligne</div>
                    <input class="col-lg-12" type="date" v-model="info.creationDate" />
                </div>


                <div class="col-lg-6">
                    <div class="header">Tags</div>
                    <input class="col-lg-12" type="text" v-model="unspilttedTags" />
                </div>

                <div class="col-lg-6">
                    <div class="header">Sources</div>
                    <input class="col-lg-12" type="text" v-model="unsplittedSources" />
                </div>

                <div class="col-lg-6">
                    <div class="header">Contexte</div>
                    <textarea name="context" rows="10" class="col-lg-12" v-model="info.context"> </textarea>
                </div>

                <div class="col-lg-6">
                    <div class="header">Texte</div>
                    <textarea name="text" rows="10" class="col-lg-12" v-model="info.text"> </textarea>
                </div>
            </div>
            <div class="">
                <center>
                    <button v-bind:style="{display : isSubmitDisplayed}" class="btn-submit" type="submit">Soumettre</button>
                </center>
                <center v-bind:style="{display : isSuccessDisplayed}">
                    <h4 class="success">
                        Votre instant en commun a été publié avec succès !<br/> Merci de votre participation !
                    </h4>
                </center>
                <center v-if="isSubmitError()">
                    <h4 class="error">
                        {{submitError}}
                    </h4>
                </center>
            </div>
        </form>
        <center v-bind:style="{display : isSuccessDisplayed}">
            <p>
                <button v-on:click="openDraft()">Recommencer ?</button>
            </p>
        </center>

    </div>
</template>
<style src="./draft.css" />
<script src="./draft.ts" />