<template>
    <div class="not-authorized">
        <div class="container">
            <h1><span class="glyphicon glyphicon-ban-circle"></span> Tu n'es pas autorisé à accéder à cette page.</h1>
            <br />
            <p>La page auquelle tu as tenté d'accèder n'est pas accessible avec tes autorisations actuelles.</p>
            <p>Si tu penses que tu devrais avoir le droit d'accèder à cette page, contactes la modération sur le <a href="http://discord-insoumis.fr/">Discord Insoumis</a> pour qu'on te modifie tes autorizations.</p>
            <p>Sinon, t'invite à revenir sur la <router-link to="/">home page</router-link> pour reprendre ta navigation.</p>
        </div>
    </div>
</template>
<style src="./not-authorized.css" />