.connexion {
    height: 100%;
    width: 100%;
    background-color: #636363;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 2000;
    font-family: 'Roboto', sans-serif;
}

.connexion #modalcross {
    position: absolute;
    right: 10px;
    top: 0px;
    color: #fff;
}

.connexion #modalcross:hover {
    cursor: pointer;
}

.connexion h1{
    font-size: 70px;    
    padding-left: 140px;
    font-weight: 900;
}

.connexion .left {
    background-color: #636363;
    width: 50%;
    height: 100%;
    float: left;
}

.connexion .right {
    background-color: #636363;
    width: 50%;
    height: 100%;
    float: left;
}

.connexion .left:hover {
    background-color: #8A6552;
    color: #705242;
}

.connexion .right:hover {
    background-color: #FFE0B5;
    color: #F3BB6E;
}

.connexion .gradient {
    width: 100%;
    height: 90px;
    background: linear-gradient(to right, #8A6552, #FFE0B5);
    box-shadow: 0px 1px 10px #555;
    position: fixed;
    top: 90.5%;
    left: 0;
}

.connexion .logo {
    position: fixed;
    top: 59.5%;
    left: 42%;
}