<template>
    <div class="connexion row" v-bind:style="{display : isDisplayed}">
        <span id="modalcross" class="glyphicon glyphicon-remove" v-on:click="closeConnexion()" style="font-size: 40px"></span>
        <div class="left">
            <h1>CONNEXION</h1>

            <form id="login-form" class="row" v-on:submit.prevent="handleSubmitToLogin" method="post">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <div class="header">E-mail</div>
                        <input class="col-sm-12" type="text" v-model="register.email" />
                        <p><i>Ton addresse e-mail.</i></p>
                    </div>

                    <div class="col-sm-4">
                        <div class="header">Mot de passe</div>
                        <input class="col-sm-12" type="password" v-model="register.password" />
                        <p><i>Ton mot de passe (plus de 8 caractères).</i></p>
                    </div>
                </div>
                <div class="">
                    <center>
                        <button v-bind:style="{display : isSubmitDisplayed}" class="btn-submit" type="submit">Se connecter</button>
                    </center>
                </div>
            </form>
            <center v-if="isLoginSuccessDisplayed">
                <h4 class="success">
                    Vous êtes désormais logués !
                </h4>
            </center>
            <center v-if="isSubmitLoginError()">
                <h4 class="error" id="submitLoginError">
                    <!-- To be filled with Jquery-->
                </h4>
            </center>
        </div>
        <div class="right">
            <h1>INSCRIPTION</h1>
            <form id="register-form" class="row" v-on:submit.prevent="handleSubmitToRegister" method="post">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <div class="header">E-mail</div>
                        <input class="col-sm-12" type="text" v-model="register.email" />
                        <p><i>Ton addresse e-mail.</i></p>
                    </div>

                    <div class="col-sm-4">
                        <div class="header">Mot de passe</div>
                        <input class="col-sm-12" type="password" v-model="register.password" />
                        <p><i>Ton mot de passe (plus de 8 caractères).</i></p>
                    </div>
                    <div class="col-sm-4">
                        <div class="header">Confirmation du mot de passe</div>
                        <input class="col-sm-12" type="password" v-model="register.confirmPassword" />
                        <p><i>Confirmes ton mot de passe.</i></p>
                    </div>
                    <div class="col-sm-4">
                        <div class="header">GDPR</div>
                        <input class="col-sm-12" type="checkbox" v-model="GDPRConsent" style="display:block" />
                        <p><i>Blabla GDPR à consentir.</i></p>
                    </div>
                </div>
                <div class="">
                    <center>
                        <button v-bind:style="{display : isSubmitDisplayed}" class="btn-submit" type="submit">S'inscrire</button>
                    </center>
                </div>
            </form>
            <center v-if="isRegisterSuccessDisplayed">
                <h4 class="success">
                    Votre inscription a été succès !<br /> Merci de votre inscription !
                </h4>
            </center>
            <center v-if="isSubmitRegisterError()">
                <h4 class="error" id="submitRegisterError">
                    <!-- To be filled with Jquery-->
                </h4>
            </center>
        </div>
        <img class="logo" src="content\logo-vert-1.png" alt="Logo"></img>
        <div class="gradient"></div>
    </div>
</template>

<style src="./sidebar-connexion.css" />
<script src="./sidebar-connexion.ts" />