<template>
    <div id="modalwindow" 
         v-bind:style="{ 'background-color': info.lightTheme, display : isDisplayed}" 
         v-on:onOpenModal="closeModal()">
        <span id="modalcross" class="glyphicon glyphicon-remove" v-on:click="closeModal()" style="font-size: 40px"></span>
        <div class="modal-container">
            <div class="liec-modal">
                <img v-bind:src="info.image" v-bind:alt="info.title" />
            </div>
            <div class="liec-infos">
                <h2>{{ info.title}}</h2>
                <p class="context">
                    {{ info.context }}
                </p>
                <h3>Sources</h3>
                <div class="sources-container">
                    <div v-for="item in info.sources" class="sources-link">
                        <a class="link" href="item" >{{item}}</a>
                    </div>
                </div>

                <h3>Tags</h3>
                <div class="tags-container">
                    <div v-for="item in info.tags" class="tag-item" >
                        {{ item }}
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script src="./home-modal.ts"></script>
<style src="./home-modal.css" />