<template>
    <div id="modalwindow" 
         v-bind:style="{ 'background-color': info.lightTheme, display : isDisplayed}" 
         v-on:onOpenModal="closeModal()">
        <span id="modalcross" class="glyphicon glyphicon-remove" v-on:click="closeModal()"></span>
        <div class="modal-container">

                <div class="liec-modal">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 69.819 249.649">
                    <path id="liec_arrow" data-name="liec_arrow" class="cls-1" style="color:#fff" d="M-6.974,0C1.4-90.567,7.469,41.638,7.469,93S-5.884,280.9-6.974,186-61.528,99.653-62.34,89.354-15.35,90.567-6.974,0Z" transform="translate(62.35 30.917)"/>
                </svg>
                <img v-bind:src="info.image" v-bind:alt="info.title" />
            </div>
            <div class="liec-infos">
                <h2>{{ info.title}}</h2>
                <p class="context">
                    {{ info.context }}
                </p>
                <h3>Sources</h3>
                <div class="sources-container">
                    <div v-for="item in info.sources" class="sources-link" @mouseenter="hoverlink()" @mouseleave="normallink()">
                        <a class="link-modal" href="item" >{{item}}</a>
                    </div>
                </div>

                <h3>Tags</h3>
                <div class="tags-container">
                    <div v-for="item in info.tags" class="tag-item" @mouseenter="hoverlink()" @mouseleave="normallink()">
                        <a class="link-modal" href="item" >{{ item }}</a>
                    </div>
                </div>

                <h3>Partager sur les réseaux ~ pouloulou</h3>
                <div class="social-container">
                    <a id="twitter-btn" href="https://twitter.com/instantencommun?lang=fr">
                        <img src="../../../wwwroot/logos/twitter-logo-silhouette.svg" />
                    </a>
                    <a id="insta-btn" href="https://www.instagram.com/instantencommun/">
                        <img src="../../../wwwroot/logos/instagram-social-outlined-logo.svg" />
                    </a>
                    <a id="facebook-btn" href="https://fr-fr.facebook.com/Linstantencommun/">
                        <img src="../../../wwwroot/logos/facebook-letter-logo.svg" />
                    </a>
                </div>
            </div>
        </div>

    </div>
</template>
<script src="./home-modal.ts"></script>
<style src="./home-modal.css" />