<template>
    <div class="sidebar-draft" v-bind:style="{display : isDisplayed}">
        <center>
            <h1>Rejoignez la LIEC Army</h1>
        </center>
        <img src="content/We Need You.png" alt="We need you!" style="height : 400px; margin-bottom: 20px;"></img>
        <br/>
        <p>Un sujet vous tient à coeur, et vous voulez partager un instant avec nous ? Venez donc ! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus placerat enim at aliquam accumsan. Quisque vitae est gravida diam condimentum ornare.</p>
        <button v-on:click="connectOrSubscribe()">S'inscrire</button>
        <button v-on:click="connectOrSubscribe()">Se connecter</button>
    </div>
</template>

<style src="./sidebar-draft.css" />
<script src="./sidebar-draft.ts" />